* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Styling for Nav & Footer */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #c7e2ff;
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  align-items: center;
  align-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 1;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  align-items: center;
}

.nav-left a {
  text-decoration: none;
  color: rgb(156, 156, 156);
}

.nav-left a:hover {
  color: rgb(32, 32, 32);
  transition: all 0.3s ease;
}

.nav-center {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding-right: 16rem;
}

/* .nav-right {
  display: flex;
  justify-content: space-between;
  width: 6rem;
  color: rgb(156, 156, 156);
} */

.nav-right a {
  text-decoration: none;
  color: rgb(156, 156, 156);
}

.nav-right a:hover {
  color: rgb(32, 32, 32);
  transition: all 0.3s ease;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #404040;
  color: white;
  width: 100%;
  padding: 0.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.calendar {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.calendar-wrapper {
  display: flex;
  justify-content: space-between;
  width: 63%;
}

.calendar-wrapper span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-wrapper img {
  margin-bottom: 0.2rem;
}

.calendar-wrapper a {
  text-decoration: none;
  color: white;
}

.calendar-wrapper a:hover {
  transition: all ease 0.3s;
  color: black;
}

.legal {
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
  padding-top: 0.5rem;
}

.legal-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.legal-wrapper a {
  text-decoration: none;
  color: white;
}

.legal-wrapper a:hover {
  transition: all ease 0.3s;
  color: black;
}

.legal span {
  align-self: center;
}

/* End styling for Nav & Footer */
