* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-jost: "Jost", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-color-dark: #555555;
  --font-color-light: white;
  --checkbox-color: #d9d9d9;
  --main-color: #62bfed;
  --header-color: #c7e2ff;
  --footer-color: #404040;
  --deletebox-color: #8d4343;
}

body {
  font-family: var(--font-roboto);
}

h1 {
  font-family: var(--font-jost);
}

p {
  font-family: var(--font-roboto);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

.listItem {
  display: flex;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.listItem p {
  padding-top: 0.4rem;
  text-align: center;
  vertical-align: center;
}

.listBlock h1 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

input[type="checkbox"] {
  width: 2rem; /* Set width */
  height: 2rem; /* Set height */
  clip-path: circle(43% at 50% 50%); /* Set the clip path of circle*/
  border: 0.15rem solid lightgray;
  cursor: pointer;
  accent-color: var(--main-color);
}

#check1:hover {
  /* accent-color: var(--font-color-dark); */
  background-color: var(--header-color);
}

#check1:checked {
  /* display:none; */
  background-color: lightgrey;
  color: var(--main-color);
}

.listBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--header-color);
  width: 50vw;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.deleteItemBtn {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #f0c3c3;
  border: hidden;
  outline: dotted 0.1rem;
  margin-top: 0.52rem;
  margin-left: 1rem;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  color: var(--font-color-dark);
}

.deleteItemBtn:hover {
  background-color: #cc3636;
}

/* Add task input field */

.inputSection {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 10vh;
  /* width: 50vw; */
  background-color: var(--main-color);
}

.taskCreator {
  display: flex;
  justify-content: center;
  border-radius: 1rem 1rem 0rem 0rem;
  margin-bottom: 0;
  /* align-items: center; */
  min-width: 50vw;
  min-height: 5vh;
  background-color: var(--header-color);
}

.taskCreator input {
  border-radius: 0.5rem;
  width: 20vw;
  margin: 1rem;
  height: 2rem;
  text-align: center;
  outline-color: var(--main-color);
  border: hidden;
}

.taskCreator input:focus::placeholder {
  color: transparent;
}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: var(--main-color);
  border: hidden;
  outline: solid 0.1rem;
  align-self: center;
  cursor: pointer;
  color: var(--font-color-dark);
}

.addBtn:hover {
  background-color: var(--header-color);
}

/* Styling for Nav & Footer */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #c7e2ff;
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  align-items: center;
  align-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 1;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  align-items: center;
}

.nav-left a {
  text-decoration: none;
  color: rgb(156, 156, 156);
}

.nav-left a:hover {
  color: rgb(32, 32, 32);
  transition: all 0.3s ease;
}

.nav-center {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding-right: 12.5rem;
}

/* .nav-right {
  display: flex;
  justify-content: space-between;
  width: 6rem;
  color: rgb(156, 156, 156);
} */

.nav-right a {
  text-decoration: none;
  color: rgb(156, 156, 156);
}

.nav-right a:hover {
  color: rgb(32, 32, 32);
  transition: all 0.3s ease;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #404040;
  color: white;
  width: 100%;
  padding: 0.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.calendar {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.calendar-wrapper {
  display: flex;
  justify-content: space-between;
  width: 63%;
}

.calendar-wrapper span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-wrapper img {
  margin-bottom: 0.2rem;
}

.calendar-wrapper a {
  text-decoration: none;
  color: white;
}

.calendar-wrapper a:hover {
  transition: all ease 0.3s;
  color: black;
}

.legal {
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
  padding-top: 0.5rem;
}

.legal-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.legal-wrapper a {
  text-decoration: none;
  color: white;
}

.legal-wrapper a:hover {
  transition: all ease 0.3s;
  color: black;
}

.legal span {
  align-self: center;
}

/* End styling for Nav & Footer */

.editInputBox {
  border-radius: 0.5rem;
  width: auto;
  /* margin: 1rem; */
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  outline-color: var(--main-color);
  border: hidden;
  /* background-color: transparent; */
}
